{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {aoc-2025.day1 {square {:arities {1 {:args [:int], :ret :nat-int}}},
                                                       plus {:arities {1 {:args [:int], :ret :int},
                                                                       2 {:args [:int :int], :ret :int}}}}}}}}
